extends layout

block content

	if rasir2
		h2= 'Veldu flokk'
		each val in rasir
			p4= 'Veðurstöðvar'
			h2: a(class="lists" href= '/event'+ val.other.availableStations+'/ekkertvalid')= 'Velja stöð'
			each count in val.endpoints
				h2: a(class="lists" href= '/event'+ count+'is?stations=1,422')= count
	if rasir
		p= JSON.stringify(ras)
